@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body{
  max-height: 100vh;
}

.App{
  min-height: 100vh;
  background: linear-gradient(to right top, #814CD9, #BD61F0, #CE4CD9, #F857BE);
}

